@import 'https://code.highcharts.com/css/highcharts.css';

.cfpb-chart {
  margin-top: 100px;
  max-width: 650px;
  height: 500px;

  .highcharts-root,
  .highcharts-legend-box,
  .highcharts-axis-labels {
    font-size: 16px;
    font-family: 'AvenirNextLTW01-Regular',Arial,sans-serif;
    color: #5a5d61;
    fill: #5a5d61;
  }

  .highcharts-background,
  .highcharts-legend-box {
    fill: transparent;
  }

  .highcharts-plot-line {
    color: #75787b;
    stroke-width: 1px;
    z-index: 10;
  }

  .highcharts-plot-line-label {
    color: #5a5d61;
    text-align: right;
  }

  .highcharts-legend-box {
    // color: #5a5d61;
    // font-size: 16px;
    // font-weight: normal;
  }

  .highcharts-legend-item {
    text {
        font-size: 12px !important;
    }
  }

  .highcharts-button {
    border-radius: 5; // border radius
    fill: #CCE3F5;
    font-size: 14px;
  }

  .highcharts-button-pressed {
    fill: #7FB8E6;
    font-weight: bold;
  }

  .highcharts-range-selector-buttons {
    transform: translate(0,30);
  }

  .highcharts-navigator-handle {
    background-color: #fff;
    border-color: #101820;
  }

  // Axes

  .highcharts-axis-labels {
    // color: #5a5d61; duplicate of root?
    // font-size: 16px;
    // font-weight: normal;
  }

  // .highcharts-xaxis-labels {}

  // Colors and widths

  &[data-chart-type='line'] {

    // Unadjusted
    .highcharts-series-0 {
      .highcharts-graph {
        stroke-width: 1px;
      }
    }

    // Seasonally adjusted 
    .highcharts-series-1 {
      .highcharts-graph {
        stroke-width: 3px;
      }
    }

    &[data-chart-color='blue'] {

      .highcharts-series {
        stroke: #0072ce;
      }

    }

    &[data-chart-color='green'] {

      .highcharts-series {
        stroke: #20aa3f;
      }

    }

    &[data-chart-color='teal'] {


      // Seasonally adjusted 
      .highcharts-series {
        stroke: #257675;
      }

    }

    &[data-chart-color='navy'] {

      // Seasonally adjusted 
      .highcharts-series {
        stroke: #254b87;
      }

    }

  }


  &[data-chart-type='bar'] {

    // Set defaults to gray for help in troubleshooting
    .highcharts-point {
      fill: #5a5d61;
      
      &.highcharts-data__unprojected {
        fill: #101820;
      }

    }

    &[data-chart-color='blue'] {

        .highcharts-point {
          fill: #7eb7e8;
          
          &.highcharts-data__unprojected {
            fill: #0072ce;
          }

        }
        
    }

    &[data-chart-color='green'] {

        .highcharts-point {
          fill: #addc91;
          
          &.highcharts-data__unprojected {
            fill: #20aa3f;
          }

        }
        
    }

    &[data-chart-color='teal'] {

        .highcharts-point {
          fill: #89b6b5;
          
          &.highcharts-data__unprojected {
            fill: #257675;
          }

        }
        
    }

    &[data-chart-color='navy'] {

        .highcharts-point {
          fill: #889cc0;
          
          &.highcharts-data__unprojected {
            fill: #254b87;
          }

        }
        
    }


  }

}

@media (min-width: 400px) {
  .cfpb-chart {
    .highcharts-legend-item {
      text {
          font-size: 16px !important;
      }
    }
    .highcharts-legend {
      transform: translate(200,-5) !important;
    }
  }
}

.cfpb-chart[data-chart-type="tile_map"] {
  height: 630px;
}

@media (max-width: 500px) {
  .cfpb-chart {
    height: 500px;
  }
  .cfpb-chart[data-chart-type="tile_map"] {
    height: 400px;
  }
}
