@import 'https://code.highcharts.com/css/highcharts.css';
@import 'cf-core.less';

.cfpb-chart {
  position: relative;
  max-width: 650px;
  height: 500px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 75px;
    width: 100%;
    height: 0;
    border-top: 2px solid #e3e4e5;
  }

  .highcharts-root,
  .highcharts-container,
  .highcharts-legend-box,
  .highcharts-axis-labels {
    font-size: 16px;
    font-family: 'AvenirNextLTW01-Regular',Arial,sans-serif;
    color: #5a5d61;
    fill: #5a5d61;
  }

  .highcharts-background,
  .highcharts-legend-box {
    fill: transparent;
  }

  .highcharts-plot-line {
    color: #75787b;
    stroke-width: 1px;
    z-index: 10;
  }

  .highcharts-plot-line-label {
    color: #5a5d61;
    text-align: right;
    transform: translate(0, -45px);

    .respond-to-min( 600px, {
      transform: translate(0, -92px);
    });

  }

  &[data-chart-type='bar'] {
    .highcharts-plot-line-label {
      transform: translate(-280px, -60px);
    }
  }

  .highcharts-legend {
    transform: translate(-8px, -5px) !important;

    .respond-to-min( 800px, {
      transform: translate(184px, -5px) !important;
    });
  }

  .highcharts-legend-box {
  }

  .highcharts-legend-item {
   

  }

  .highcharts-range-selector-label {
    display: table;
    margin-top: 0 !important;
    transform: translateY(415px);
    width: 100%;
    color: #5a5d61;
    font-size: 14px;

    .h6();

    .respond-to-min( 800px, {
      transform: translateY(0px);
    });

    span {
      display: table-cell;
      position: relative !important;
      text-align: center;
      z-index: 100;

      .respond-to-min( 480px, {
        text-align: left;
      });

      .respond-to-min( 800px, {
        transform: translateY(0px);
      });

    }

  }

  .highcharts-range-selector-buttons {
    position: relative;
    height: 45px;
    transform: translate(-67px, 450px);

    .respond-to-min( 350px, {
      transform: translate(5%, 450px);
    } );

    .respond-to-min( 480px, {
      transform: translate(-63px, 450px);
    });

    .respond-to-min( 800px, {
      height: 35px;
      // transform: translateY(-400px);
    } );

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #E3E4E5;
    }


  }

  .highcharts-button {
    height: 45px;
    width: 45px;
    fill: #CCE3F5;
    font-size: 14px;

    &:hover {
      cursor: pointer;
      .highcharts-button-box {
        fill: #7FB8E6;
      }

    }

    text {
      transform: translateX(-15px);

      .respond-to-min( 800px, {
        transform: translateX(0px);
      } );

    }

    .respond-to-min( 800px, {
      width: 35px;
      height: 35px;
    } );


  }

  .highcharts-button-pressed,
  .highcharts-button-hover {
    fill: #7FB8E6;
  }

  .highcharts-button-box {
    border-radius: 5px;
    height: 45px;
    width: 45px;
    y: -10px;

    .respond-to-min( 800px, {
      width: 35px;
      height: 35px;
      y: 0px;
    } );

  }

  .highcharts-navigator,
  .highcharts-navigator-series,
  .highcharts-navigator-xaxis,
  .highcharts-navigator-yaxis,
  .highcharts-scrollbar {
    display: none;
    visibility: hidden;

    .respond-to-min( 800px, {
      display: block;
      visibility: hidden;
    } );

  }

  .highcharts-navigator-handle {
    background-color: #fff;
    border-color: #101820;
  }

  // Axes
  &[data-chart-type='line'] {

    .highcharts-yaxis .highcharts-axis-title {

      transform: rotate(0deg) translate(120px, -130px) !important;

      .respond-to-min( 800px, {
        transform: rotate( -90deg ) translate(0px, 0px) !important;
      } );

    }
  }

  &[data-chart-type='bar'] {

    .highcharts-yaxis .highcharts-axis-title {
      transform: rotate(0deg) translate(88px, -130px) !important;
      
      .respond-to-min( 800px, {
        transform: rotate( -90deg ) translate(0px, 0px) !important;
      } );

    }
  }

  // Colors and widths

  &[data-chart-type='line'] {

    .highcharts-tracker,
    .highcharts-graph {
      stroke-linejoin: miter;
      stroke-linecap: butt;
    }

    // Unadjusted
    .highcharts-series-0 {
      .highcharts-graph {
        stroke-width: 1px;
      }
    }

    // Seasonally adjusted 
    .highcharts-series-1 {
      .highcharts-graph {
        stroke-width: 4px;
      }
    }

    // Projected data for last six months
    .highcharts-zone-graph-1 {
      stroke-dasharray: 5, 5;
    }

    .highcharts-color-0 .highcharts-zone-graph-1 {
      stroke-dasharray: 3, 3;
    }

    &[data-chart-color='blue'] {

      .highcharts-color-0, 
      .highcharts-color-1 {
        stroke: #0072ce;
      }

    }

    &[data-chart-color='green'] {

      .highcharts-color-0, 
      .highcharts-color-1 {
        stroke: #20aa3f;
      }

    }

    &[data-chart-color='teal'] {


      .highcharts-color-0, 
      .highcharts-color-1 {
        stroke: #257675;
      }

    }

    &[data-chart-color='navy'] {

      .highcharts-color-0, 
      .highcharts-color-1 {
        stroke: #254b87;
      }

    }

  }


  &[data-chart-type='bar'] {

    // Set defaults to gray for help in troubleshooting
    .highcharts-point {
      fill: #5a5d61;
      
      &.highcharts-data__unprojected {
        fill: #101820;
      }

    }

    &[data-chart-color='blue'] {

        .highcharts-point {
          fill: #7eb7e8;
          
          &.highcharts-data__unprojected {
            fill: #0072ce;
          }

        }
        
    }

    &[data-chart-color='green'] {

        .highcharts-point {
          fill: #addc91;
          
          &.highcharts-data__unprojected {
            fill: #20aa3f;
          }

        }
        
    }

    &[data-chart-color='teal'] {

        .highcharts-point {
          fill: #89b6b5;
          
          &.highcharts-data__unprojected {
            fill: #257675;
          }

        }
        
    }

    &[data-chart-color='navy'] {

        .highcharts-point {
          fill: #889cc0;
          
          &.highcharts-data__unprojected {
            fill: #254b87;
          }

        }
        
    }


  }

}

.cfpb-chart[data-chart-type="tile_map"] {
  height: 630px;
}

@media (max-width: 500px) {
  .cfpb-chart {
    height: 500px;
  }
  .cfpb-chart[data-chart-type="tile_map"] {
    height: 400px;
  }
}
