@import (less) '../../node_modules/highcharts/css/highcharts.css';

// cf-core is included for cf-brand-colors and media queries.
@import (less) 'cf-core.less';

/* Chart colors
   TODO: Investigate using highcharts API to set chart colors. */
@chart-blue-primary: @pacific;
@chart-blue-secondary: @pacific-60;
@chart-gold-primary: @dark-gold;
@chart-gold-secondary: @gold-80;
@chart-green-primary: @green;
@chart-green-secondary: @green-60;
@chart-navy-primary: @navy;
@chart-navy-secondary: @navy-60;
@chart-neutral-primary: @neutral;
@chart-neutral-secondary: @neutral-60;
@chart-purple-primary: @purple;
@chart-purple-secondary: @purple-60;
@chart-teal-primary: @teal;
@chart-teal-secondary: @teal-60;

/*
Updating the charts:
Set the positioning of the chart UI elements using the JavaScript API,
then add in styles below that aren't possible through the API.
 */

.u-chart-label {
  font-size: @base-font-size-px;
  font-family: inherit;
  color: @gray;
  //fill: @gray;
}

.cfpb-chart {
  position: relative;
  max-width: 650px;
  min-width: 320px;
  height: 500px;
  margin-bottom: 25px;

  // Create a horizontal rule.
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 0;
    border-top: 2px solid @gray-10;

    .respond-to-min( 600px, {
      top: 75px;
    } );

    .respond-to-min( 655px, {
      top: 80px;
    } );
  }
}

.highcharts-root,
.highcharts-container,
.highcharts-legend-box,
.highcharts-axis-labels,
.highcharts-tooltip text {
  .u-chart-label();
}

&[data-chart-type="line"] {

  // Center "Select time range" label.
  .highcharts-range-selector-label {
    left: calc( 50% - 64px ) !important;
  }

  .highcharts-axis-title {
    /* The y-axis title will be positioned to the left edge of the
       y-axis label width. This overrides that auto-layout so that
       independent of the y-axis label width the title will always
       be the same distance from the left-hand edge of the chart,
       which aligns it with the legend in the upper-left.
    */
    left: 0 !important;
    min-width: 300px;
    //text-align: center;
    //outline: 1px solid red;
  }

  .highcharts-plot-line-label {
    white-space: normal !important;
    left: 50% !important;
    width: 50% !important;
  }

  /*********
   * LEGEND
   *********/

   // The vertical gap between the two legend items. Set on the label and line.
   @chart-legend-vert-gap: 10px;

   // "Seasonally adjusted" and "Unadjusted" labels.
   div.highcharts-legend {

     // "Seasonally adjusted" label.
     .highcharts-color-0 span {
       white-space: normal !important;
     }

     // "Unadjusted" label.
     .highcharts-color-1 span {
       transform: translateY( @chart-legend-vert-gap );
     }
   }

   // SVG legend lines.
   .highcharts-root {

     .highcharts-legend {

       // Seasonally adjusted legend line.
       .highcharts-legend-item.highcharts-color-0 .highcharts-graph {
         stroke-width: 3px;
       }

       // Unadjusted legend line.
       .highcharts-legend-item.highcharts-color-1 .highcharts-graph {
         transform: translateY( @chart-legend-vert-gap );
         stroke-width: 1px;
       }
     }

     .highcharts-tracker,
     .highcharts-graph {
       stroke-linejoin: miter;
       stroke-linecap: butt;
     }

   }

   /*****************
    * RANGE SELECTOR
    ****************/
  .highcharts-button {

    & text {
      /*
      This vertically aligns the button text, but in IE11 the y value will
      not be overridden. https://github.com/highcharts/highcharts/issues/1285
      */
      transform: translateY( 13px );
    }
    fill: @pacific-20;
    font-size: @size-v;

    &:hover {
      cursor: pointer;
      .highcharts-button-box {
        fill: @pacific-60;
      }
    }
  }

  .highcharts-button-pressed,
  .highcharts-button-hover {
    fill: @pacific-60;
    font-weight: 600;
  }

  // Seasonally adjusted
  .highcharts-series-0 {
    .highcharts-graph {
      stroke-width: 3px;
    }
  }

  // Unadjusted
  .highcharts-series-1 {
    .highcharts-graph {
      stroke-width: 1px;
    }
    span {
      .lt-ie10 &:before {
        height: 1px;
      }
    }
  }

  // Projected data for last six months
  .highcharts-zone-graph-1 {
    stroke-dasharray: 5, 5;
  }

  .highcharts-color-1 .highcharts-zone-graph-1 {
    stroke-dasharray: 3, 3;
  }

  &[data-chart-color='green'] {

    .highcharts-color-1,
    .highcharts-color-0,
    .highcharts-navigator-series .highcharts-graph {
      stroke: @chart-green-primary;
    }

    .highcharts-tooltip-box {
      .highcharts-color-1,
      .highcharts-color-0 {
        display: inline-block;
        height: 4px;
        width: 15px;
        margin-bottom: 3px;
        background: @chart-green-primary;
      }
      .highcharts-color-1 {
        height: 1px;
        margin-bottom: 5px;
      }
    }
  }

  /* Using navigator { enabled: false } also disables the pressed state of the
     range selector buttons, so instead we hide the navigator at small sizes. */
  .highcharts-navigator,
  .highcharts-navigator-series,
  .highcharts-navigator-xaxis,
  .highcharts-navigator-yaxis,
  .highcharts-scrollbar {
    display: none;
    visibility: hidden;

    .respond-to-min( 800px, {
      display: block;
      visibility: visible;
    } );
  }

}
