.cfpb-chart[data-chart-type='geo-map'] {
  .highcharts-point-select {
    color: @black;
    fill: @black;
  }

  // Remove drop-shadow filter from tooltip text.
  div.highcharts-tooltip {
    filter: unset;
  }
}
